<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <!-- <div class="container-fluid"> -->
        <!-- <div class="row"> -->
            <!-- <div class="col-6">

            </div> -->
            <!-- <div class="col-6"> -->
                <table class="table">
                    <tr class="border border-success">
                        <td class="border">name</td>
                        <td class="border">class</td>
                        <td class="border">number of times</td>
                        <td class="border">Add button</td>
                        <td class="border">Delete button</td>
                    </tr>
                    <% for( let i = 0; i < allStudent.length; i++ ) { %>
                    <tr>
                        <td><%= allStudent[i].firstname %></td>
                        <td><</td>
                    </tr>
                    <% } %>
                   
                </table>
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
    <!-- <h1>Hello world</h1>
    <button><a href="/input">Add student</a></button> -->
    <!-- <form action="">

    </form> -->
</body>
</html>